.items_main {
    display: flex;
    flex-direction: column;
    flex-wrap: inherit;
    justify-content: space-evenly;
}

.items {
    justify-items: center;
    justify-content: baseline;
}

.item {
    color: black;
    padding: 1rem;
    margin: 1rem
}

.item_info {
    font-family: 'Shadows Into Light', cursive;
    font-weight: 500;
    font-size: large;
}

.item__footer {
    margin: 1rem 0 0.252rem 0;
    font-style: italic;
}

.item__header {
    font-size: larger;
    font-weight: 900;
    line-height: 2.75rem;
}

/* .buttons {
    color: white;
    border: solid rgb(178, 200, 188);
    background-color: rgb(233, 196, 210);
    font-family: 'Shadows Into Light', cursive;
} */

.buttons {
    position: relative;
    color: rgb(233, 196, 210);
    border: solid rgb(58, 61, 60);
    background-color: rgb(108, 101, 168);
    font-family: 'Shadows Into Light', cursive;
}

.buttons:not(:disabled):hover {
    transform: scale(1.2) translateY(.125rem);
}

.button_area {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
}

.button_item {
    margin-right: 30px;
}



